<div class="container" style="display: none;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                </div>
                <button type="button" class="btn btn-outline-primary">Save Article</button>
            </div>
        </div>
    </div>
</div>